<% provide(:title, 'About') %>
<h1>About</h1>
<p>
Communificiency is a platform for crowdfunding energy efficiency for local businesses. Customers are incentivized to contribute to energy efficiency projects by the rewards local businesses offer. Think about us as Kickstarter for energy efficiency.
</p>



