<% provide(:title, 'About') %>
<div class="about-page-container">
  <div class="about">
    <h1>About</h1>
    <p> Communificiency is a platform for crowdfunding energy efficiency for local businesses. Customers are incentivized to contribute to energy efficiency projects by the rewards local businesses offer. Think about us as Kickstarter for energy efficiency.
    </p>

    <h1>Our vision</h1>
    <p>We believe that delivering clean and sustainable energy represents the greatest challenge of our generation. We are frustrated that market failures prevent the most sensible solutions, such as energy efficiency, from gaining necessary investment and adoption. We believe in the power of communities and technology to overcome these market failures. We are building a platform to transform the future of energy finance.  </p>
  </div>



  <div class="faq">
    <h1> FAQ </h1>
    <h3>What is Communificiency?</h3> 
    <p>Communificiency is a crowdfunding platform for energy efficiency focused on small businesses. We help businesses dramatically reduce their energy consumption, energy bill, and carbon footprint by raising money from their community in exchange for great rewards.</p> 

    <h3>Why should I back a Communificiency project?</h3>

    <p> People back Communificiency projects for a variety of reasons. Some of our favorites include:
    <ul>
      <li> You want valuable rewards and unique experiences from businesses.  </li>
      <li> You want to create a clean energy future. Whether you care about climate change, energy independence, or sustainable development, you recognize that unlocking the potential of energy efficiency is a huge and necessary step towards achieving that goal </li>
      <li> You want to support your local business  </li>
    </ul>

    <h3>What kinds of businesses post projects on Communificiency?</h3> 

    <p>Any business that is trying to become more sustainable, save money on their energy bills, and better interact with their communities.</p>

    <h3>I know a business that should be on Communificiency. What should I do?</h3>

    <p>Let us know! Refer the business to us or shoot us an email at info@communificiency.com</p> 

    <h3>Does it cost anything to join Communificiency?</h3>

    <p>No. Communificiency is free for businesses and contributors to join.</p> 

    <h3>When will I receive my reward?</h3>

    <p>After you contribute, Communificiency will email you a unique code for your reward. After a project is completed, the business will contact you directly about redeeming your reward. Business decide the timelines for rewards.</p> 

    <h3>What happens if I do not receive my reward or the business does not honor it?</h3> 

    <p>This has never happened on Communificiency. If it does, however, please notify us and we will be in touch to help resolve the issue.</p> 

    <h3>Can I contribute  even if the business isn’t in my community?</h3>

    <p>Yes! Certain rewards, however, may require you to redeem them in person. You can always buy a code for someone who lives nearby and give it as a gift, though.</p>
  </div>
</div>

