<div class="container">
  <div class="row-fluid">
    <div class="span9">

      <div class="hero-unit">
        <div class="group">
          <%= image_tag("lss.jpg", alt: "LittleSaladShop", class: "project-banner") %>
          <div class="black-mask project-banner"></div>
          <h1 class="overlay" id="project-banner">Little Salad Shop</h1>
        </div>

<%#==========================MAIN TEXT============================%>
        <h3 class="content-header">The Project</h3>
        <p>
The Little Salad Shop’s mission is to offer average Americans healthy and affordable eating options. We also want our business and building to reflect this same goal by being as efficient and healthy as possible. An investment in basic efficiency retrofits will reduce our energy consumption by up to 40%. The cost of such retrofits will be paid back over time but require a substantial upfront investment. That's where you come in. In exchange for a small contribution, you receive the excellent incentives on the right including free salads and the chance to name a salad after yourself! Most importantly you will also personally invest in the success and sustainability of the Little Salad Shop. For that, we are eternally grateful. Together we can make the Little Salad Shop and New Haven more efficient and healthy places.
        </p>
        <h3 class="content-header">Why contribute?</h3>
        <p>
You believe in the Little Salad Shop. You believe in a more sustainable future. You believe in the power of communities to effect real change in a quick and effective manner. You want great rewards. Your contribution will help us lower our energy costs substantially, allowing us to spend even more on delivering the best salad experience in the world. Your contribution will also help us drastically reduce our carbon footprint while being less wasteful
        </p>



        <h3 class="content-header">How does it work? </h3>
        <p>
You may contribute either online through Communificiency or in person at the Little Salad Shop. You will receive an email with a coupon code redeemable for your selected reward to be used within the allotted time period. You get to enjoy your reward and a more efficient LSS!
        </p>


        <h3 class="content-header">Where are your contributions going? </h3>
        <p>
All contributions will go toward work in multiple areas of building efficiency including: HVAC, lighting, and insulation. The work will all be done by certified professionals to ensure that we get the most out of your contribution.
        </p>


        <%#<blockquote class="pull-right">%>
          <%#<p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</em></p>%>
          <%#<small>Someone famous</small>%>
        <%#</blockquote>%>
        <%#<p>%>
        <%#Wayfarers ut selvage, velit fugiat beard odd future dolor banh mi trust fund ullamco. Quis put a bird on it irony, synth narwhal cred lomo bicycle rights. Scenester banh mi cred, messenger bag bicycle rights etsy master cleanse mustache cliche kale chips organic. Carles reprehenderit nulla est you probably haven't heard of them in, incididunt lo-fi elit art party pork belly trust fund. Irony echo park freegan, pop-up beard hella gentrify skateboard pork belly next level raw denim keytar sriracha typewriter. Duis est fixie leggings beard, anim pickled terry richardson placeat letterpress irony selvage commodo. Odio hoodie aesthetic street art.%>
        <%#</p>%>


      </div>

    </div><!--/span-->







<%#==========================REWARD BAR============================%>


    <div class="span3 rewards-bar">
      <div class="rewards-container ">
      <h3 class="reward-header"> Contribution levels </h3>
        <div class="reward">
          <h3 class="reward-tag"> Pledge $10 </h3> <a class="btn reward-btn"> Contribute </a>
          <p>Receive a free salad of your choice (with meat or without) and a bag of chips. This is a deal you can’t miss! You would be paying more than $10 for these items separately. Get it while it lasts!</p>
        </div>

        <div class="reward">
          <h3 class="reward-tag"> Pledge $25 </h3> <a class="btn reward-btn"> Contribute </a>
          <p>Receive a ticket to a special afternoon event in the park catered by the Little Salad Shop. This is your opportunity to meet other like-minded supporters who believe in LSS, sustainability, and the power of communities to make a difference. (Quantity Available: 25) </p>
        </div>

        <div class="reward">
          <h3 class="reward-tag"> Pledge $200 </h3> <a class="btn reward-btn"> Contribute </a>
          <p>This is the biggie! Help us design your own personal salad, which we will name after you and which you will eat free for a month. There’s no better way to be a part of LSS! (Quantity Available: 2) </p>
        </div>

      </div>


<%#==========================SIDELINKS NAV============================%>
      <%#<div class="sidebar-nav">%>
        <%#<ul class="nav nav-list">%>
          <%#<li class="nav-header">Sidebar</li>%>
          <%#<li class="active"><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li class="nav-header">Sidebar</li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li class="nav-header">Sidebar</li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
          <%#<li><a href="#">Link</a></li>%>
        <%#</ul>%>
      <%#</div>[>/.well <]%>
    </div><!--/span-->
  </div><!--/row-->

  <hr>


</div><!--/.fluid-container-->


