<h1>Communificiency</h1>
<div class="center hero-unit">
  <h1>Welcome to Communificiency</h1>

  <h2>
  Communificiency is a platform for crowdfunding energy efficiency for local businesses. Customers are incentivized to contribute to energy efficiency projects by the rewards local businesses offer. Think about us as Kickstarter for energy efficiency.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary " %>
</div>

<%= image_tag("logo.png", alt: "Rails", class: "logo") %>

