<% provide(:title, 'Confirm contribution') %>
<div class="container">
  <div class="row-fluid">
    <div class="span12">

      <div class="hero-unit">
        <h3>Thanks for choosing to help out LSS</h3>
        <h3>You're almost there...</h3>


        <h3 class="header"> Help out LSS! </h3>
        <p>
        Food truck chillwave exercitation veniam nihil cosby sweater. In tumblr semiotics mollit hoodie, elit vero. Biodiesel narwhal carles beard whatever high life, viral nostrud readymade cosby sweater trust fund tempor bushwick odd future. Aliquip fingerstache wayfarers williamsburg. Laboris minim polaroid raw denim cupidatat nostrud. Narwhal id pickled raw denim. Butcher direct trade keytar, nostrud aute swag pinterest fugiat wayfarers culpa whatever Austin velit artisan ex.
        </p>

        <%= form_for(:payment, :url => payments_path) do |f|  %>
          <div class="field">
            <%= f.label :amount %> <br />
            <%= f.number_field :amount %>
          </div>

          <div class="actions">
            <%= f.submit "Pay" %>
          </div>
        <% end %>

      </div>

    </div><!--/span-->









    <div class="span3">
      <div class="rewards-bar ">
        <div class="reward">
          <h3 class="reward-tag"> Pledge $25 </h3> <a class="btn reward-btn"> Contribute </a>
          <p> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>

        <div class="reward">
          <h3 class="reward-tag"> Pledge $50 </h3> <a class="btn reward-btn"> Contribute </a>
          <p> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>

        <div class="reward">
          <h3 class="reward-tag"> Pledge $100 </h3> <a class="btn reward-btn"> Contribute </a>
          <p> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>

      </div>























      <div class="sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">Sidebar</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">Sidebar</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->

  <hr>


</div><!--/.fluid-container-->


