i=$(rvm current)
if [[ $i =~ "ruby-1\.9\.3-p.*@rails3\.2\.13"    ]];
  then true;
  else
  echo "Loading communificiency";
  echo "rvm use --create 1.9.3@rails3.2.13";
  rvm use --create 1.9.3@rails3.2.13;
fi;

