<% if @user.errors.any? %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">&#215;</a>
    <p> <%= "Please fix the following #{pluralize(@user.errors.size, 'error')}."%>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end%>
    </ul>
  </div>
<% end%>
