<h2 class="pageHeader">Browsing Communificiency projects</h2>


<% @projects.each do |project| %>
  <%= render project %>
  <tr>

    <%# render :partial => 'project' %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
