<div class="hero-unit">
  <h2> Whoops, something went wrong... </h2>
  <p> Something went wrong on our end. We'll be investigating. </p>
  <br>

  <p> If you you need help, please email us at <%= mail_to("team@communificiency.com", "team@communificiency.com", subject: "Communificiency help", target: "_blank")  %>.</p>

  <p> Return to <%= link_to "home page", home_path %> </p>

</div>
