@import "bootstrap/mixins";
// $goldenLight: ($grayLight + #554)*.85 + $orange*.25;
$skyblue: #1a8bcb;
$navBarHeight: 60px;
$navBarFontHeight: 15px;
$reallyLightYellow: #fffbef;
$reallyLightBlue: #eaf0ff;
$reallyLightBlue: #f3f7ff;
$goldenLight: #f1d570;
$goldenLighter: #f1d570;
$skyblue: #1a8bcb;
$rewardsBarBG: #F4EAC6;
$rewardsBarBG: $reallyLightYellow;
$rewardsBarBG: white;
$darkerGray: rgb(35, 35, 35);

@mixin rounded($radius: 10px) {
  @include rounded-side(top, $radius);
  @include rounded-side(right, $radius);
  @include rounded-side(bottom, $radius);
  @include rounded-side(left, $radius);
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-side($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}


.overlay {
  position: absolute;
  z-index: 200;
}

h1#project-banner {

  // TODO(syu): font-family
  color: white;
  text-align: right;
  width:300px;
  bottom: 8%;
  left: 9%;
  font-size: 90px;
  // color: $skyblue + #808080;
}


/* Used to group the overlay and image together */
.group {
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 100%;
  height: 100%;
}

$carouselHeight: 250px;

.carouselPadding {
  height: $carouselHeight;
  width: 500px;
  display: table;
}

.projectBanner {
  text-align: middle;
  max-height: $carouselHeight;
  margin: 0 auto;
  display: block; //-cell;
  vertical-align: middle;
  border: 1px red solid;
  width: 500px;
}


#carouselBanner {
  padding: 15px;
  background: $darkerGray;
  @include border-radius(5px);
}
.carousel-inner .modal img {
  // border: red 1px solid;
  width: auto;
  height: auto;
}
.item {
  height: 300px;
  // inline:
}

.item img {
  display: block;
  margin: 0 auto;
  width: auto;
  @include border-radius(5px);
  max-width:100%;
  max-height:100%;
}

.item div {
  width: 100%;
  height: 100%;
}


.modal {
  z-index: -5;
}

@mixin color-mask($opacity: .5, $color: black) {
  background: $color;
  opacity: $opacity;
}

.black-mask{
  @extend overlay;
  @include color-mask(.14, black);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  // width: 100%;
  // height: 100%;
}

.hero-unit {
  padding: 15px;
  position: relative;
  // width: 960px;
  // height: 425px;
  margin: 0px 0px 30px 0px;
  background: white;
}

div.markdown > h1, div.markdown > h2, div.markdown > h3, div.markdown > h4, .content-header{
  margin: 20px 0px 12px;
  color: $skyblue;
}

div.markdown > h2 {
  text-align: left;
}

div.markdown > p {
  text-indent: 50px;
  line-height: 1.7em;
}

div.markdown > blockquote > p {
  font-size: small; 
}

.rewards-bar {
  // background: black;
  // background: $skyblue;
  position: relative;
  top: -20px;
  background: $rewardsBarBG;
  @include box-shadow(#{0 2px 6px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)});


}
.rewards-container {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.reward {
  @include rounded(10px);
  border: 1px darken($goldenLight, 5%) dashed;
  // border: 1.5px #e9dcad dashed;
  background: $goldenLight;
  background: $reallyLightYellow;
  padding: 15px;
  margin-bottom: 15px;
}

.rewards-bar .reward.rewardUnavailable {
  background: whitesmoke;
  @extend .muted;
  border: 1px darken(gray, 5%) dashed;
  .reward-header .reward-dollars {
    @extend .muted;
}
}

.rewards-bar .reward.rewardUnavailable > .reward-btn {
  @extend .muted;
  background: lighten(gray, 30%);
  pointer-events: none;
  cursor: default;
}

.reward > .reward-btn:hover {
  @extend .span2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  background: darken($goldenLight, 8%);
}

.rewards-bar .reward.rewardUnavailable:hover {
  background: whitesmoke;
  @extend .muted;
}

.rewards-bar .reward:hover {
  background: darken($reallyLightBlue, 10%);
  background: darken($reallyLightBlue, 0%);
  background: darken($reallyLightYellow, 2%);
}


h3.rewardsBarHeader{
  font-size:1.8em;
  text-align:center;
  margin: 10px;
  // color: $skyblue;
  line-height: normal;
}


.reward-header {
  font-size: 1.2em;
}

.reward .reward-header .reward-name {
  font-size: 1.3em;
  min-height: 50px;
  height: 2em;
  line-height: normal;
  display: table;
  text-align: right;
  padding-right: .45em;
}

.reward .reward-header .reward-name p {
  display: block;
  display: table-cell; 
  vertical-align: middle;
}


.reward .reward-header .reward-dollars {
  font-weight: bold;
  font-size: 2em;
  line-height: normal;
  min-height: 50px;
  height: 50px;
  position: relative;
  top: 2px;
  color: green;
}

.reward > .reward-btn {
  @extend .span2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  background: $goldenLight;
}

.reward > .reward-btn:hover {
  @extend .span2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  background: darken($goldenLight, 8%);
}


.contribution-info {
  @extend .well;
  background: whitesmoke;
  padding: 25px;

}

div.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: gray 1px solid;
}

.contribution-Ask {
  @extend .center;
  line-height: 15px;
  margin-bottom: 15px;
  color: $skyblue;
}

div.statistic {
  margin: 15px;
}
div.statistic-num {
  // display: inline;
  // width:50%;
  font-size: 2.5em;
  color: $skyblue;
  text-align: right;
  padding-right: 10%;
}

div.statistic-caption {
  font-size: 1.2em;
}

#contribution_amount {
  width: 80px;
}
#okButton {
  background: $goldenLight;
  position: relative;
  left: -5px;
  @include border-radius(0px 3px 3px 0px);
}

#okButton:hover {
  background: darken($goldenLight, 8%);
}

.projectTagline {
  font-size: 1.4em;
}

.projectDescription {
  font-size: 1.1em;
  color: gray;

}



// --- SHAREEEEEEEEEEEEEEEEEEEEEEEEEEE

#share {
  height: 120px;
  display: block;
  @extend .well;
  background: whitesmoke;
  padding: 25px;
}

#sharrre {

}

.sharrre .box{
  float:left;
  background: red;
}
.sharrre .buttons {
  margin: 0 10%;
  z-index:10;
  background-color:transparent;
}
.sharrre .button:first-child {
  margin-left:0px;
}
.sharrre .button {
  float:left;
  max-width:50px;
  margin-left:10px;
}
