// @import "bootstrap";
// $goldenLight: ($grayLight + #554)*.85 + $orange*.25;
$goldenLight: #f1d570;
$skyblue: #1a8bcb;

@mixin rounded($radius: 10px) {
  @include rounded-side(top, $radius);
  @include rounded-side(right, $radius);
  @include rounded-side(bottom, $radius);
  @include rounded-side(left, $radius);
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-side($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}


.overlay {
  position: absolute;
  z-index: 200;
}

h1#project-banner {

  // TODO(syu): font-family
  color: white;
  text-align: right;
  width:300px;
  bottom: 8%;
  left: 9%;
  font-size: 90px;
  // color: $skyblue + #808080;
}


/* Used to group the overlay and image together */
.group {
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 100%;
  height: 100%;
}

.project-banner {
  width: 100%;
}

@mixin color-mask($opacity: .5, $color: black) {
  background: $color;
  opacity: $opacity;
}

.black-mask{
  @extend overlay;
  @include color-mask(.14, black);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  // width: 100%;
  // height: 100%;
}

.hero-unit {
  padding: 15px;
  position: relative;
  // width: 960px;
  // height: 425px;
  margin: 0px 0px 30px 0px;
  background: white;
}

.content-header{
  margin: 20px 0px 12px;
  color: $skyblue;
}



.rewards-bar {
  // background: black;
  // background: $skyblue;
  position: relative;
  top: -30px;
  background: #F4EAC6;

}
.rewards-container {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

}

.reward {
  @include rounded(10px);
  // border: 1px black solid;
  background: $goldenLight;
  padding: 15px;
  margin-bottom: 15px;

}

h3.reward-header  {
  font-size:1.8em;
  text-align:center;
  // color: $skyblue;
}

.reward:hover {
  background: $skyblue;
}

.reward > .reward-tag {
  margin-bottom: 10px;
}

.reward > .reward-btn {
  margin-bottom: 10px;
  display: block;

}


