// @import "bootstrap/mixins";
// @import "bootstrap/variables";

@import "bootstrap";
@import "desc"; 
$skyblue: #1a8bcb;
$navBarHeight: 60px;

html {
  overflow-y: scroll;
}

body {
  padding-top: $navBarHeight + 15px;
  background: whitesmoke;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.field_with_errors > label {
  color: #B94A48;

}

.field_with_errors > input {
  // @extend .alert;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #F2DEDE;
  // border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  // color: #C09853;

  // background: #F2DEDE;
  // border: #EED3D7;
  /*background-color: #F2DEDE;*/
  /*border-color: #EED3D7;*/
  // color: #B94A48
}

.field_with_errors > input:focus {
  @extend input:focus;
  border-color: rgba(236, 50, 50, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 50, 50, 0.6)
}

.nav.mini-nav {
  list-style: none;
  // bottom: -20px;
  // right: 20px;
  // position: static;
  // bottom: 10%;
  //margin-right: auto;
  float: none; 
  margin: auto;
  width: 90%;
}

.nav-group {
  position: relative;
  top:20px;
  margin: auto;
  width:80%;
}




/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
}

.hero-unit > p {
  text-indent: 50px;
  line-height: 1.7em;
}

blockquote > p {
  font-size: small; 
}



/* header */

.navbar-inner {
  height: $navBarHeight; 

  .container {
    height: $navBarHeight; 
}
}

#logo {
  float: left;
  padding-top: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  color: $skyblue;
  font-weight: bold;
  height: 100%;
  height: 60px;
  max-width: none;

}

#logo:hover {
  text-decoration: none;
  color: $skyblue;
}

/* footer */

footer ul {
  list-style: none;
  float: right;

}

footer ul li {
  float: left;
  margin-left: 10px;
}
.navbar-inner {
  height: $navBarHeight; 
}
