// @import "bootstrap/mixins";
// @import "bootstrap/variables";

@import "bootstrap";
$cfblueOld: rgb(42, 147, 206);
$skyblueOld: #1a8bcb;
$goldenLight: #f1d570;

$cfblue: rgb(30, 136, 210);
$skyblue: $cfblue;
$cfyellow: rgb(212, 182, 63);
$cfyellow: rgb(212, 182, 63);
$goldenLight: #f1d570;
$navBarHeight: 60px;
$navBarFontHeight: 15px;
$reallyLightYellow: #fffbef;
$reallyLightYellow: rgb(255, 251, 230);
$reallyLightBlue: #f7f9ff;
$darkGray: rgb(47, 47, 47);
$darkerGray: rgb(35, 35, 35);
$mediumGray: #666666;

.alertAnnouncement {
  background: $goldenLight;
  color: $darkGray;
}
.well {
  background: whitesmoke;
  background: $reallyLightBlue;
  background: $reallyLightYellow;
}

@import "desc"; 

html {
  overflow-y: scroll;
}

body {
  padding-top: $navBarHeight + 15px;
  background: $reallyLightYellow;
  background: black + #111;
  background: black;
  // background: $reallyLightBlue;
  // background: url('background1.jpg');
  // background-image: fixed;
  // color: whitesmoke;
}
div.footerImage {
  background: black;
  width: 100%;
  // height: 100%;
  position: absolute;
  bottom: -200px;
  z-index: -50;
}

img.footerImage {
  left: -200px;
  bottom: 0;
  height: 100%;
  z-index: -50;
  position:relative;
  // position: fixed;
}

div.footerContainer {
  @extend .span12;
  // width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index:50;

  background: black;
  padding: 50px;
  opacity: 0.7;
  position: relative;
  top: -10px;
  background: whitesmoke;
  border: 1px whitesmoke solid;
}

body.application .container.main.application {
  background: white;
  padding: 20px;
  top: -15px;
  position: relative;
  border-left: 1px whitesmoke solid;
  border-right: 1px whitesmoke solid;
  @include
  border-radius( 0px 0px 10px 10px);

}



section {
  overflow: auto;
}

textarea {
  // resize: vertical;
}


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.field_with_errors > label {
  color: #B94A48;

}

.field_with_errors > input {
  // @extend .alert;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #F2DEDE;
  // border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  // color: #C09853;

  // background: #F2DEDE;
  // border: #EED3D7;
  /*background-color: #F2DEDE;*/
  /*border-color: #EED3D7;*/
  // color: #B94A48
}

.field_with_errors > input:focus {
  @extend input:focus;
  border-color: rgba(236, 50, 50, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 50, 50, 0.6)
}

pre.debug_dump {
  @extend .well;
}

.navbar-inner {

  background: #ffffff;
  @include box-shadow(#{0 6px 6px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)});
}


/* all text in nav bar */
.navbar .nav > li > a , .navbar .nav > li > p {
  float: none;
  $navBarVpad: ($navBarHeight - $navBarFontHeight)/2;
  padding: ($navBarVpad + 10px) 10px $navBarVpad - 11;
  line-height: $navBarFontHeight;
  font-size: $navBarFontHeight;
  color: black;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover , .navbar .nav > li > p:hover {
  color: #999;

}


.navbar .nav .active > p, .navbar .nav .active > p.navbar-text:hover {
  color: black;
  text-decoration: none;
  background-color: $skyblue;
  @include gradient-vertical(lighten($skyblue, 26%), #FFF );
  @include gradient-vertical(#FFF, lighten($skyblue, 46%));
  //# @include gradient-vertical-three-colors(#000, darken($skyblue, 20%), 40%, #111); // #111, $skyblue);
}

/* BOOTSTRAP OVERRIDES */

.navbar .dropdown-menu {
  &:before {
    content: '';
    display: none;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: $dropdownBorder;
    position: absolute;
    top: -7px;
    left: 9px;
}
&:after {
  content: '';
  display: none;
  border-left:   6px solid transparent;
  border-right:  6px solid transparent;
  border-bottom: 6px solid $dropdownBackground;
  position: absolute;
  top: -6px;
  left: 10px;
}
}

.input-prepend .add-on:first-child, .input-prepend.input-append .btn:first-child {
  margin-right: -5px;
  margin-left: 0px;
  @include border-radius(4px 0 0 4px);
}

.input-prepend .add-on, .input-prepend.input-append .btn {
  margin-left: -5px;
  @include border-radius(0px 4px 4px 0px);
}





h1, h2, h3, h4, h5, h6 {
  text-align: left;

}
/* typography */
/*h1, h2, h3, h4, h5, h6 {*/
/*line-height: 1;*/
/*}*/

/*h1 {*/
/*margin-bottom: 30px;*/
/*text-align: center;*/
/*}*/

/*h2 {*/
/*margin-bottom: 30px;*/
/*text-align: center;*/
/*font-weight: normal;*/
/*}*/

/*h3 {*/
/*margin-top: 10px;*/
/*margin-bottom: 10px;*/
/*}*/

/* header */

.navbar-inner {
  height: $navBarHeight; 

  .container {
    height: $navBarHeight; 
}
}
.nav .mini-nav {
  height: $navBarHeight; 
}

.user-nav {
  display: inline-block;
  height: $navBarHeight; 
  float: right;
}

#logo {
  float: left;
  padding-top: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  color: $skyblue;
  height: 45px;
  font-weight: bold;
  max-width: none;
}

#logo:hover {
  text-decoration: none;
  color: $skyblue;
}

/* footer */

footer ul {
  list-style: none;
  float: right;

}

footer ul li {
  float: left;
  margin-left: 10px;
}
.navbar-inner {
  height: $navBarHeight; 
}

.contributionPaymentHeader {
  color: $skyblue;
  margin-top: 10px;
}

#inputContributionAmount {
  height: 50px;
  font-size: 35px;
  text-align: center;
}
#inputContributionDollarSign, #inputContributionZeros {
  height: 50px;
  font-size: 34px;
  position: relative;
  display: inline;
  padding: 10px 5px 9px;
}
.step1 {
  @extend .center;
  margin-top: 25px;
}

#reward-minimum-contribution {
}

#reward {
  @extend .well;
}

#reward-name {
  font-size: 1.7em;
}

.reward-description {
  font-size: 1.4em;
  line-height: 1.4em;
}

.reward-label {
  font-style: italic;
}

.instructions {
  color: black;
  font-size: 1.3em;
  padding: 10px;
}

#reward #reward-name:after {
  @extend .label;
  @extend .label-success;
  content: "SELECTED";
  font-size: 0.6em;
  padding-left: .5em;
  padding-right: .5em;
  padding: .1em .5em;
  margin-left: 1em;
}

#reward.error #reward-name:after {
  @extend .label;
  @extend .label-important;
  content: "MINIMUM CONTRIBUTION NOT MET";
  font-size: 0.6em;
  padding-left: .5em;
  padding-right: .5em;
  padding: .1em .5em;
  width: auto;
  margin-left: 1em;
}

#reward-minimum-contribution .reward-display {
  color: green;
}

#reward.error #reward-minimum-contribution .reward-display {
  color: red;
}

#chooseReward {
  @extend .center;
  width: 45%;
  margin: 0 auto;
}

#contribution_reward_id {
  width: auto;
  display: inline;
}
#steptwo option {
  color: green;
}
#steptwo option.invalid  {
  color: red;
}
#steptwo option.unavailable, #steptwo option.invalid.unavailable {
  @extend .muted;
}
#steptwo option.invalid:after {
  content: "  --  minimum contribution not met"
}

.reward-display {
  font-style: normal;
}

#payStripe {
  // @extend .span2;
  margin-left: 38%;
  width: 20%;

}
.card-expiry-month {
  width: auto;
}
.card-expiry-year {
  width: auto;
}

#pay-button {
  @extend .btn;
  @extend .btn-large;
  @extend .btn-primary;
  // @extend .center;
  margin-left: auto;
  margin-right: auto;
  margin: 2em auto;
  // display: block;
}





.pageHeader {
  margin-bottom: 25px;
  text-align: center;
}

h1.pageHeader {
  font-size: 2em;
  color: $cfblue;
  margin-bottom: 25px;
}


div.signUpForm, div.signInForm {
  @extend .well;
}
.signUpForm, .signInForm {
  @extend .span6;
  margin-left: auto;
  margin-right: auto;
}

form.signUpForm, form.signInForm{
  @extend .form-horizontal;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

form.signInForm .form-actions, form.signUpForm .form-actions {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

div.projectBasicInfo {
  @extend .well;

}

div.projectFormRewardsContainer {
  @extend .well;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.projectFormRewardsContainer .reward-block {
  @extend .well;
  background: white;
  border: 1 px gray;
  padding: 0px;
  margin-left: auto; 
  margin-right: auto; 
  width: 80%;
}


.projectFormRewardsContainer .reward-header {
  padding: 10px;
}

a.toggle {
  display: block;
  padding: 8px 15px;

}

.projectFormRewardsContainer .reward-body {
  padding: 5px;
}







// ----- contributions

// ----------- new 



////--------------------------------------------------------------------
// Welcome page
////--------------------------------------------------------------------

body.welcome {
  padding-top: 0;
  background: $cfblue;
}


.container.welcome{
  width: 100%;
}


.welcome .flash {
  @extend .span8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: -20px;
}

.div1 {
  background: whitesmoke;
  background-image: url("diag-dashed-15.png");
  @include opacity(50);
  z-index: 5;
  position: relative;
  padding-top: 65px;
}

#welcome-overlay {
  @include border-radius(0px 0px 55px 55px);
  background: lighten(#f5f5f5, 15%);
    padding: 13px 0px;
  // @extend .span9;
  @include box-shadow(0 0 5px 5px rgba(0, 0, 0, 0.3));
  // margin-left: auto;
  // margin-right: auto;
  z-index: 500;
  // margin-top: -25px;
  // position: absolute;
  // height: 50px;
  // bottom: 22px;
  // display: inline-block;
  position: absolute;
  // text-align: center;
  top: -15px;
  left: 50%;
  //width: 750px;
  //margin-left: -350px;
  $overlaywidth: 780px;
  width: $overlaywidth;
  margin-left: -$overlaywidth/2;
  color: $mediumGray;

}
#welcome-overlay a {

  font-size: 1.6em;
  letter-spacing: -.06em;
  display: inline-block;
  position: absolute;
  font-size: 1.6em;
  letter-spacing: -.06em;
  bottom: 22px;
  color: $mediumGray;



}

#welcome-overlay #welcome-logo{
  height: 100%;
  height: 60px;
  @extend .center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
  margin-top: 5px;
}


#link-Projects {
  bottom: 15px;
  left: 110px;
  position: absolute;
}

#link-Blog {
  bottom: 15px;
  left: 45px;
  position: absolute;
}

#link-SignUp {
  bottom: 15px;
  right: 45px;
  position: absolute;
}

#link-About {
  bottom: 15px;
  right: 132px;
  position: absolute;
}

.valueProps {
  margin-top: 45px;
  margin-bottom: 45px;
  // border: red 1px solid;
}

div.valuePropBox {
  background: transparent;
  @include border-radius(15px);
  @extend .center;
  border: 8px solid transparent;
  background: rgba(#f5f5f5, .5);
  @include box-shadow(#{ 0 0 8px rgba(0, 0, 0, 0.25), inset 0px 0px 1px rgba(0,0,0,.25) });
  background-clip: padding-box;
  margin-left: 25px;
  height: 100%;
  padding-top:3px;
}

h2.valuePropBox {
  @extend .center;
  padding-top: 15px;
  color: $cfyellow;
}


.div2 {
  background: $darkGray;
  padding: 50px;
  position: relative;
  z-index: 4;
  border-bottom: $cfyellow 4px dashed;
}

.div3 {
  background: $cfyellow;
  padding: 50px;
  position: relative;
  z-index: 3;
  @include box-shadow(0px 0px 5px 5px rgba(0,0,0, 0.5));
}

h1.bannerline {
  @extend .center;
  color: whitesmoke;
  font-size: 4em;
  line-height: 1em;
}
span.blue {
  color: $cfblue;
}
span.yellow {
  color: $cfyellow;
}

h1.HowItWorks {
  @extend .center;
  color: $darkerGray;
  font-size: 4em;
  line-height: 1em;
}

.HowItWorks li {
  color: $darkerGray;
  font-size: 2em;
  line-height: 1em;
  margin: 15px;
}

.HowItWorks .learn-more {
  color: lighten($darkGray, 25%);
  @extend .pull-right;
  font-size: 2em;
  line-height: 1em;
}

.div4 {
  padding: 35px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background: $cfblue;
}


h1.interested {
  @extend .center;
  color: whitesmoke;
  color: $darkerGray;;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 15px;
}

.interested li {
  color: whitesmoke;
  color: $darkerGray;;
  font-size: 2em;
  line-height: 1em;
  margin: 15px;
}


#new_user_signup  {
  margin-bottom: 3px;
}

#new_user_signup .help-inline{
  display:block;
  color: white;
}


.interested a {
  color: lighten($darkGray, 60%);
}

.interested h3 {
  color: $darkGray;
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;

}


//-------------------- Coming soon
//
//

h1.coming-soon {
  @extend .center;
  color: $cfblue;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 3em;
}

.coming-soon h2 {
  font-size: 1.6em;
}
#coming-soon-form {
  margin-bottom: 3px;
}

#coming-soon-form .help-inline{
  display:block;
  color: $cfyellow;
}

//--------------- ABOUT / FAQ
//
//
.about-page-container {
  padding: 30px;
}
.about h1 {
  @extend .center;
  color: $cfblue;
}


.faq h1 {
  @extend .center;
  color: $cfblue;
  margin-bottom: 1em;
}

.faq h3 {
  color: $cfblue;
  font-size: 1.7em;
  margin-top: 18px;
  margin-bottom: 10px;
}

.about p, .faq p {
  font-size: 1.4em;
  line-height: normal;
}
.faq li {
  font-size: 1.4em;
  line-height: normal;
}

#helpDiv {
  padding: 50px;
}

#helpDiv h2 {
  text-align: center;
  padding-bottom: 1em;
}

#helpDiv p {
  font-size: 1.4em;
  line-height: normal;
}

#helpDiv h2 {
  color: $cfblue;
}
