@import "bootstrap";


$skyblue: #1a8bcb;
$navBarHeight: 60px;

html {
  overflow-y: scroll;
}

body {
  padding-top: $navBarHeight;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}





/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar-inner {
  height: $navBarHeight; 

  .container {
    height: $navBarHeight; 
  }
}

#logo {
  float: left;
  padding-top: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  color: $skyblue;
  font-weight: bold;
  height: 100%;
  max-width: none;

}

#logo:hover {
  text-decoration: none;
  color: $skyblue;
}

/* footer */

footer ul {
  list-style: none;
  float: right;

}

footer ul li {
  float: left;
  margin-left: 10px;
}
.navbar-inner {
  height: $navBarHeight; 
}
