@import "bootstrap";

// $goldenLight: ($grayLight + #554)*.85 + $orange*.25;
$goldenLight: #f1d570;

@mixin rounded($radius: 10px) {
  @include rounded-side(top, $radius);
  @include rounded-side(right, $radius);
  @include rounded-side(bottom, $radius);
  @include rounded-side(left, $radius);
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-side($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}


.rewards-bar {

}

.reward {
  @include rounded(10px);
  // border: 1px black solid;
  background: $goldenLight;
  padding: 15px; margin-bottom: 5px;
}

.reward:hover {
  background: $blue;
}


