
<div class="footerContainer">
  <div class="row"> 
    <div class="offset2 span8">
      <small>
        © 2012 Communificiency s
      </small>
      <nav>
      <ul>
        <li><%= link_to "About",   '#' %>
        <li><%= link_to "Contact", '#' %>
        <li><%= link_to "Legal",   '#' %>
      </ul>
      </nav>
    </div>
  </div>
</div>
<div class="footerImage">
  <%= image_tag "background_smallercrop.jpg", class: 'footerImage' %>
</div>
