<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <%= link_to image_tag("logo.png", alt: "Communificiency", id: 'logo' ), :root %>
      </div>
        <nav> 
      <div class="span3">
        <div class="sherwintest"> SherwinTest

        <ul class="nav mini-nav">
          <li><%= link_to 'Home', '#' %><li>
          <li><%= link_to 'About', '#' %><li>
          <li><%= link_to 'Help', '#' %><li>
        </ul>
          </div>
      </div>
        </nav>
    </div>
  </div>
</div>
</header>
